
# Dependency directory
node_modules

# local codes
local_codes.js

# shouldn't include build. Run npm run build instead
client/build
client/build/
client/build/*

# google verification file
client/google8c3581f55aae1c66.html

# local files
.idea
.idea/
.idea/*
