<!DOCTYPE html>

<html lang="en" ng-app="DealGiraffe">

<head>

    <!-- meta tags -->
    <meta charset="UTF-8">

    <!-- style sheets-->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="/client/css/styles_new.css">
    <link rel='shortcut icon' href='/client/images/favicon.ico' type='image/x-icon' />

    <!-- js dependencies -->
    <script type="text/javascript" src="/client/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/client/scripts/moment-duration-format.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/client/scripts/d3_price_graph.js"></script>

    <!-- angular dependencies-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="/client/scripts/angular-resource.min.js"></script>
    <script src="/client/scripts/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <title>{{title}}</title>

</head>

<body>

    <div class="container-all">
        {{{body}}}
    </div>

    <!-- angular code, run after body is loaded -->
    <script type="text/javascript" src="/client/app/app_product.js"></script>
    <script type="text/javascript" src="/client/app/factories/resources.js"></script>
    <script type="text/javascript" src="/client/app/controllers/ProductCtrl.js"></script>

</body>

</html>