
body, html {
    min-height: 100%;
}

.admin-action-panel > a {
    color: black;
    text-decoration: none;
}

.admin-input-row {
    padding-top: 1rem;
}

.asin-input {
    margin-left: 1rem;
    margin-right: 1rem;
}

.item-list > h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-content-col {
    max-width: 760px;
    height: 100%;
    margin: 1rem auto;
    background: rgb(240, 240, 240);
    padding: 1rem;
}

.product-item {
    padding: 1rem;
    border-bottom: 1px solid #333;
}

.product-item-button {
    margin-right: .5rem;
}

.product-item-link {
    text-decoration: none;
    color: black!important;
}

.product-item-title {
    font-weight: 700;
    font-size: 1.1em;
}

.updater-admin-header {
    width: 100%;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}