
/* root elements */

html {
    height: 100%;
    overflow: auto;
}

body {
    min-height: 100%;
}

/* id's */

#price-graph {
    margin: auto;
}

/* reusable classes */

.right-align-row {
    text-align: right;
}

/* general classes */

.area {
    fill: rgba(51, 102, 255, .6);
}

.area-line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

.area-null {
    fill: rgba(220, 220, 220, .8);
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.axis-label {
    font-size: 1.2em!important;
}

.col-top-content {
    height: 3em;
}

.container-all {
    background: rgb(240, 240, 240);
}

.main-col {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

.main-navbar {
    background: #333;
}

.main-navbar-list {
    color: white;
    list-style: none;
    padding-left: 0;
}

.main-navbar-list > li {
    border-right: 1px solid white;
    font-size: 1.2em;
    padding: .75rem .75rem;
}

.main-navbar-list > li:hover {
    background: #999;
    cursor: pointer;
}

.product-details {
    padding-bottom: 2rem;
    border-bottom: 1px solid #666;
}

.product-details-features {
    margin-top: 0;
}

.product-details-image {

}

.product-details-price {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 0;
}

.product-details-review {
    margin-top: 0;
}

.product-details-see-more {
    width: 6rem;
    height: 2.25rem;
    background: yellow;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 2rem;
}

.product-details-see-more:hover {
    cursor: pointer;
}

.product-details-text {
    padding: 0 1.5rem;
}

.price-chart {
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.price-graph-container {
    text-align: center;
}

/* resize specifications */