<html>
    <head>
        <link rel='shortcut icon' href='/client/images/favicon.ico' type='image/x-icon' />
        <title>Login</title>
    </head>
    <body style="padding: 1em;">
        <form action="/login" method="post">
            <div>
              Login to the admin panel of dealgiraffe
            </div>
            <div style="margin-top: 1.5em;">
                <label>Username:</label>
                <input type="text" name="username" />
                <br/>
            </div>
            <div style="margin-top: 1em;">
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div style="margin-top: 1.5em;">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>