<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags-->
    <meta charset="UTF-8">

    <!-- js dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/client/scripts/moment.min.js"></script>
    <script src="/client/scripts/moment-duration-format.js"></script>
    <script src="/client/scripts/d3PriceGraph.js"></script>

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,600" rel="stylesheet">
    <link href="/client/css/styles.css" rel="stylesheet" />
    <link rel='shortcut icon' href='/client/images/favicon.ico' type='image/x-icon' />

    <!-- google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79771460-1', 'auto');
        ga('send', 'pageview');

    </script>

    <title>Product Page</title>
</head>
<body>
    <div id="app"></div>
    <script src="/client/build/ProductPage.js"></script>
</body>
</html>