<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags-->
    <meta charset="UTF-8">

    <!-- stylesheets -->
    <link href="/client/css/styles_product_page.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='/client/images/favicon.ico' type='image/x-icon' />

    <title>Product Page</title>
</head>
<body>
    <div id="app"></div>
    <script src="/client/build/ProductPage.js"></script>
</body>
</html>