<html ng-app="Dealgiraffe">
  <head>
    <script src="/client/scripts/angular.min.js"></script>
    <script src="/client/scripts/angular-resource.min.js"></script>
    <script src="/client/scripts/angular-route.min.js"></script>
    <script src="/client/app/factories/resources.js"></script>
    <script src="/client/app/controllers/AdminCtrl.js"></script>
    <script src="/client/app/app.js"></script>
  </head>
  <body ng-controller="AdminController">
    <div>
      Successfully logged in to the admin panel!
    </div>
    <div style="margin-top: 3em;">
      Add deal to website: <input ng-model="asin" style="margin-left: 0.5em;" type="text" />
    </div>
    <button ng-click="addDeal(asin)" style="margin-top: 1em;">
      Submit
    </button>
  </body>
</html>