<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/client/css/updater_admin.css">
    <title>DealGiraffe - Admin</title>
</head>
<body>

<div class="main-content-col">

    <h2 class="updater-admin-header">DealGiraffe Admin Panel</h2>

    <form action="/addProductItem/" method="POST">

        <div class="admin-input-row">
            <span>Add Product by ASIN:</span>
            <input class="asin-input" placeholder="asin" name="asin" type="text">
            <button type="submit">Submit</button>
        </div>

    </form>

</div>

</body>
</html>