<!DOCTYPE html>
<html ng-app="DealGiraffeApp" lang="en">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/styles.css" />
	<script type="text/javascript" src="/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/app/app.js"></script>
	<title>Deal Giraffe</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3 line-right">Some content here</div>
			<div class="col-md-7 line-right">More content here</div>	
			<div class="col-md-2">And even more content here</div>	
		</div>
	</div>
</body>
</html>